@page
@{ Layout = "_Layout"; }

<p class="text-muted m-b-30 font-14"> 选择对应表单并点击进入预览界面 </p>
  <a v-for="formInfo in formInfoList" :href="getPreviewUrl(formInfo)" target="_blank" class="btn btn-block btn-md btn-outline-primary">{{
  formInfo.title }}</a>
  <hr />
<div class="text-right mr-1">
  <button type="button" class="btn btn-default m-l-5" onclick="window.parent.layer.closeAll()">关 闭</button>
</div>

@section Scripts{
  <script src="/assets/form/js/templatesLayerPreview.js" type="text/javascript"></script>
}